# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Compiled output
build
dist
generated
tmp
out-tsc
bin
Debug
obj

# E2E
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Temp directory
.angular
.temp
.tmp

# Node
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
/connect.lock
/libpeerconnection.log
/.nyc_output
coverage
testem.log
typings
*.db

# System files
.DS_Store
Thumbs.db

